apiVersion: apps/v1
kind: Deployment
metadata:
  name: crawler
  namespace: medical
spec:
  replicas: 1
  selector:
    matchLabels:
      app: crawler
  template:
    metadata:
      labels:
        app: crawler
    spec:
      containers:
        - name: crawler
          image: medical/crawler:latest 
          env:
            - name: RABBITMQ_URL
              value: "amqp://guest:guest@rabbitmq-service/"