apiVersion: v1
kind: Service
metadata:
  name: api-gateway-service
  namespace: medical
spec:
  selector:
    app: api-gateway
  ports:
    - port: 8000
      targetPort: 8000
      nodePort: 30000
  type: NodePort
